.about-us {
    .nav.nav-tabs {
        text-align: center;
    }

    .btn.btn-primary {
        color: #fff;
        background-color: #5acea4;
        border-color: #5acea4;
    }
    p {
        text-align: center;
    }
}