button {
    border: 0;
    background: transparent;
    color: white;
    padding: 0;
    margin: 0;
}

.--dark-text {
    color: black;
}
.bupaws-btn.outline-btn {
    border: 2px solid #77CBA7;
    color: #77CBA7;
}