
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "style";
// Variables
@import "variables";

@import "buttons";
@import "header";
@import "hero-container";
@import "categories";
@import "about-us";

body {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    background: white,
}

a {
    color: black;
}

ul {
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none;
}
